nav {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.Link {
  display: block;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 15px;
  text-decoration: none;
  color: #3f51b5;
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.Link:hover {
  color: #fff;
  background-color: rgb(88, 127, 212);
}

.ActiveLink {
  display: block;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 15px;
  text-decoration: none;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
  background-color: rgb(88, 127, 212);
}

.ActiveLink:hover {
  color: #3f51b5;
  background-color: #fff;
}

.BtnBox {
  display: flex;
}

.Box {
  display: flex;
  margin-top: 20px;
}
img {
  height: 400px;
}

.InfoBox {
  padding-left: 20px;
}

.Title {
  font-weight: 700;
}

.BtnBack {
  margin-top: 20px;
}
